.uploadImageDiv{
    height: 15rem;
    width: 25rem;
    img.car-image{
        height: 15rem;
        width: 25rem;
    }
}
.uploadImageDiv.border-dash{
    border: 2px #cecccc;
    border-style: dashed;
}

.upload-btn{
    width: 25rem;
}

.sc-submit-btn{
    width: 15rem;
}   